@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import 'modern-css-reset';

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #fff;
  color: #111;
  line-height: 1.6;
}

li{
    list-style-type: none;
}